<a href="https://colab.research.google.com/github/Pi-vardhan/Data_Preprocessing/blob/main/2105a42019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Drive Mounting

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing Libraries

In [5]:
import numpy 
import math 
import random
import pandas

Data Input

In [6]:
product = pandas.read_csv('/content/drive/MyDrive/Social_Network_Ads.csv')
product.head(10)

    User ID Social Media  Gender  Age  EstimatedSalary  Purchased
0  15624510     Facebook    Male   19            19000          0
1  15810944      Twitter    Male   35            20000          0
2  15668575    Instagram  Female   26            43000          0
3  15603246      Linkdin  Female   27            57000          0
4  15804002     Facebook    Male   19            76000          0
5  15728773      Twitter    Male   27            58000          0
6  15598044    Instagram  Female   27            84000          0
7  15694829      Linkdin  Female   32           150000          1
8  15600575     Facebook    Male   25            33000          0
9  15727311      Twitter  Female   35            65000          0

Binary Conversion

In [7]:
varlist =  ['Gender']
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

product[varlist] = product[varlist].apply(binary_map)

Finding For Null Values

In [8]:
print(product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Social Media     400 non-null    object
 2   Gender           400 non-null    int64
 3   Age              400 non-null    int64
 4   EstimatedSalary  400 non-null    int64
 5   Purchased        400 non-null    int64
dtypes: int64(5), object(1)
memory usage: 18.9+ KB
None

In [9]:
print(product.describe())

            User ID      Gender         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000  400.000000       400.000000  400.000000
mean   1.569154e+07    0.490000   40.175000     69742.500000    0.357500
std    7.165832e+04    0.500526   31.709511     34096.960282    0.479864
min    1.556669e+07    0.000000   18.000000     15000.000000    0.000000
25%    1.562676e+07    0.000000   30.000000     43000.000000    0.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000    0.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000    1.000000
max    1.581524e+07    1.000000  480.000000    150000.000000    1.000000

Outliers Detection

In [10]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = numpy.mean(data)
    std = numpy.std(data)
    for i in data:
        z_score = (i-mean)/std
        if (numpy.abs(z_score) > thres):
            outliers.append(i)
    return outliers

In [11]:
sample_outliers_Age = detect_outliers_zscore(product['Age'])
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [12]:
from scipy.stats import zscore
z1 = numpy.abs(zscore(product['Age']))
product['Zscore_Age'] = z1
outliers_Age=len(product[product['Zscore_Age']>1])
data_z = product[product['Zscore_Age']<3]
product=data_z.drop(['Zscore_Age'], axis=1)
product

      User ID Social Media  Gender  Age  EstimatedSalary  Purchased
0    15624510     Facebook       1   19            19000          0
1    15810944      Twitter       1   35            20000          0
2    15668575    Instagram       0   26            43000          0
3    15603246      Linkdin       0   27            57000          0
4    15804002     Facebook       1   19            76000          0
..        ...          ...     ...  ...              ...        ...
395  15691863     Facebook       0   46            41000          1
396  15706071      Twitter       1   51            23000          1
397  15654296    Instagram       0   50            20000          1
398  15755018      Linkdin       1   36            33000          0
399  15594041     Facebook       0   49            36000          1

[397 rows x 6 columns]

In [13]:
print(product.describe())

            User ID      Gender         Age  EstimatedSalary   Purchased
count  3.970000e+02  397.000000  397.000000       397.000000  397.000000
mean   1.569120e+07    0.488665   37.657431     70007.556675    0.357683
std    7.145875e+04    0.500502   10.495960     34063.924508    0.479923
min    1.556669e+07    0.000000   18.000000     15000.000000    0.000000
25%    1.562722e+07    0.000000   30.000000     43000.000000    0.000000
50%    1.569429e+07    0.000000   37.000000     70000.000000    0.000000
75%    1.575006e+07    1.000000   46.000000     88000.000000    1.000000
max    1.581524e+07    1.000000   60.000000    150000.000000    1.000000

In [14]:
print(product.isnull().sum())

User ID            0
Social Media       0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

Data Splitting

In [15]:
from sklearn.model_selection import train_test_split
dataframe = product.values
x, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 9)
x_train

array([[15622171, 'Twitter', 1, 37, 53000],
       [15795224, 'Instagram', 0, 36, 126000],
       [15654901, 'Instagram', 0, 27, 58000],
       ...,
       [15792102, 'Facebook', 0, 26, 84000],
       [15591279, 'Instagram', 1, 37, 75000],
       [15775335, 'Instagram', 1, 56, 60000]], dtype=object)

Thank You